<!-- sidebar -->
<div class="col-md-2">
    <div class="side-bar">
        <!-- sidebar header -->
        <div class="sidebar-header">
            <div class="sidebar-item">
                <div class="row align-items-center gap-1">
                    <i class="fa-solid fa-pen-ruler"></i>
                    <p>workspace</p>
                </div>
                <!-- user work spaces -->
                <div class="workspace d-flex gap-1">
                    <a href="">
                        User's Workspace
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>

                </div>
            </div>
        </div>
        <!-- end sidebar header -->

        <!-- sidebar links -->
        <div class="sidebar-menu d-flex fd-column gap-3">
            <div class="sidebar-item">
                <div class="row gap-1 align-items-center">
                    <i class="fa-regular fa-lightbulb"></i>
                    <a href="" class="sidebar-link">
                        quick tips
                    </a>
                </div>
            </div>

            <div class="sidebar-item">
                <div class="row align-items-center gap-1">
                    <i class="fa-solid fa-gear"></i>
                    <a href="" class="sidebar-link">
                        settings
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end sidebar -->
